extends layout

block meta
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		
block append styles
	link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
	link(rel='stylesheet', type='text/css', href='/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css')

block append scripts
	script(src='./mainpage.js')
	
block content
	#page-wrap
		.col-xs-3.sidenav
			ul.list-group.sidenav-menu
				img.list-group-item.restaurant-icon(src="http://a1821.phobos.apple.com/us/r30/Purple/v4/d1/32/57/d1325797-111c-e954-3eac-ce43ea15ec14/mzl.labdwvme.png")
				+generateCategories(categories)
		.col-xs-9.main-content
			div.featuredDish.well
				img.featuredDish-img(src=mainDish.imageURL)
				.featuredDish-title #{mainDish.name}
				div.featuredDish-info
					span.col-xs-9.featuredDish-description #{mainDish.caption}
					span.col-xs-3.featuredDish-price $#{mainDish.price}
				div.buybtnmain
					-console.log(mainDish)
					+generateBuyButton(mainDish._id, mainDish.price)
					
			div.container-fluid.otherDishes
				for dish in otherDishes
					-var dishId = dish._id
					-var dishPrice = dish.price
					.row.otherDish-info(data-dishref=dishId, data-dishprice=dishPrice)
						.col-xs-6
							img.otherDish-img(src=dish.imageURL)
						.col-xs-6.otherDish-words
							.otherDish-title #{dish.name}
							.otherDish-price $#{dishPrice}
							//- .otherDish-description #{dish.description}
							.buybtn
								+generateBuyButton(dishId, dishPrice)
			#footer
				.input-group.checkout
					span#sizing-addon1.input-group-addon Total
					input#total-price.form-control.input-number(type='text', value = '0')
				button.btn.btn-default.btn-submit-order(type='button') Submit Order
				
mixin generateCategories(categories)
	for category in categories
		button.list-group-item(type='button') #{category}
		
							
mixin generateBuyButton(dishId, dishPrice)
	.input-group.input-buy-btn
		span.input-group-btn
			button.btn.btn-default.btn-number(type='button', disabled='disabled', data-type='minus', data-dishid = dishId)
				span.glyphicon.glyphicon-minus
		input.form-control.input-number.input-number-buybtn(type='text', name=dishId, value='0', min='0', max = '9', data-dishprice = dishPrice)
		span.input-group-btn
			button.btn.btn-default.btn-number(type='button', data-type='plus', data-dishid = dishId)
				span.glyphicon.glyphicon-plus
